%h1='Bienvenido a tu Dashboard de Dataprop'
.container
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Property Type
        %th Price
        %th Currency
        %th Commune
        %th Address
        %th Area (m²)
        %th Bedrooms
        %th Bathrooms
        %th Latitude
        %th Longitude
        %th Actions
    %tbody
      - @properties.each do |property|
        %tr
          %td= property.property_type
          %td= property.price
          %td= property.currency
          %td= property.commune
          %td= property.address
          %td= property.area
          %td= property.bedrooms
          %td= property.bathrooms
          %td= property.latitude
          %td= property.longitude
          %td
            = link_to 'Show', property_path(property), class: 'btn btn-sm btn-primary'
            = link_to 'Edit', edit_property_path(property), class: 'btn btn-sm btn-warning'
            = link_to 'Delete', property_path(property), method: :delete, data: { confirm: 'estas seguro?' }, class: 'btn btn-sm btn-danger'
